$primary-color: #555d69;
$white-color: #fff;

body {
    position: relative;
    background: linear-gradient(180deg, #11161E 0%, #101721 100%);
    font-family: "Inter";
    font-size: 14px;
    line-height: 1.2;
}

.bg-svg-1,
.bg-svg-2 {
    position: absolute;
    width: 100%;
    left: 0;
}

.bg-svg-1 {
    top: 0;
}

.bg-svg-2 {
    bottom: 0;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    max-width: 1386px;
}

.header {
    padding: 11px 0;
    background-color: #0A0F16;

    .container-fluid {
        display: flex;
        justify-content: space-between;
    }

    .wallet-btn {
        margin-left: 23px;
    }

    .menu-btns {
        margin-left: 37px;
    }
}

.header-left,
.header-right {
    display: flex;
    align-items: center;
}

.header-right img {
    margin-right: 9px;
}

.menu-btn {
    margin-right: 10px;
    padding: 10px 16px;
    background-color: transparent;
    color: $primary-color;
    font-weight: 500;
    border-radius: 10px;
    transition: background-color .3s, color .3s;

    &:hover, &.active {
        color: $white-color;
        background-color: #192130;
    }
}

.dropdown-box {
    position: absolute;
    left: 0;
    top: 100%;
}

.nav-dropdown-bar {
    .circle {
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $primary-color;
        margin: 1px;
    }
}

.btn {
    border-radius: 10px;
}

.btn-gradient {
    padding: 15px 32px 16px;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    background-image: linear-gradient(180deg, #07A756 0%, #08EA79 100%);

    &:hover, &.active {
        background-image: linear-gradient(180deg, #0EA5CC 0%, #04759C 100%);
    }
}

.wallet-btn {
    max-height: 48px;
}

.page-wrapper {
    z-index: 3;
}

// Homepage
.home-box {
    position: absolute;
    background: #10141B;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 30px 22px;
    text-align: center;
    color: #fff;
    min-width: 521px;
    max-width: 521px;
    border-radius: 30px;
    font-size: 16px;

    .wallet-btn {
        margin-top: 64px;
    }
}

.home-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

.token-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 32px;
    background-color: #0C0F15;
}

.token-list {
    padding: 16px 25px;
    color: $white-color;
    background-color:#11161E;
}

.token-amount {
    color:#555D69;
    font-size: 2.5em;
}

@media (max-width: 767px) {
    .home-box {
        min-width: 340px;
        font-size: 10px;
        .wallet-btn {
            font-size: 2em;
            padding: 10px;
            margin-top: 48px;
        }
    }
    .token-box {
        padding: 19px 21px;
    }
    .token-list {
        padding: 12px 17px
    }
}